body {
  background-color: black;
}

/* general classes */
.text-gray {
  color: rgb(116, 116, 116);
}

.bg-orange {
  background: orange;
}

.bg-blue {
  background: blue;
}

/* header */
.jumbotron {
  background: url("../img/header.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  margin-top: 55px;
  height: 700px;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.header-welcome {
  margin-left: 35%;
  font-weight: 600;
}

/* navbar */
.navbar {
  height: 70px;
  text-transform: uppercase;
  background-color: rgb(24, 23, 23);
  border-left: 7px solid #bc25d0;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #bc25d0;
  border-radius: 50%;
  display: inline-block;
}

.navbar-collapse,
.navbar-nav {
  height: 100%;
}

.active {
  background: rgb(71, 71, 71);
}

/* cards */
.cards-section {
  margin-top: 600px;
}

.card {
  padding: 20px;
}

.card-header {
  background: none;
  border: none;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

/* middle section */
.middile-section,
.recent-projects {
  margin-top: 100px;
}

.middile-section-content {
  background: rgb(24, 23, 23);
  height: 100%;
}

.image-box {
  position: absolute;
  z-index: 1;
  border: 4px solid white;
  height: 703px;
  width: 1050px;
}

.btn-close {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

/* footer */
.footer {
  background: rgb(24, 23, 23);
}

footer h5 {
  font-weight: 700;
  font-size: 1.5em;
}

footer a {
  color: rgb(116, 116, 116);
}

.copy-right {
  background: black;
}

td:nth-child(odd) {
  width: 50px;
}

tr {
  height: 50px;
}

footer input {
  background: none;
  border: 1px solid white;
  width: 70%;
  padding-left: 10px;
  color: white;
  border-radius: 0;
}

/* placeholder */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}